<!-- <p *ngIf="flag">first works!</p>
<button id="btn">Boton</button>

<br><br>
<ng-container *ngFor="let country of countries; let i=index;">
    <span>Orden: <p>{{i}}</p></span>
    <span>id: <h2>{{country.id}}</h2></span>
    <span>Pais: <p>{{country.name}} </p></span>
</ng-container>

<br><br><br>

<ng-container *ngFor="let item of foods">
    <div [ngSwitch]="item.country">
        <span *ngSwitchCase="countriesEnum.MEXICO">Mexico</span>
        <span *ngSwitchCase="countriesEnum.JAPON">Japon</span>
        <span *ngSwitchCase="countriesEnum.RUSIA">Rusia</span>
        <span *ngSwitchDefault>No definido</span>
    </div>
</ng-container> -->

<!-- <h1 [color] = "'#808080'" [size]="'30px'" [fontStyle] = "'italic'" [dynamicColor]="'blue'" >Lo que sea</h1>
<h1 [color] = "'blue'" [size]="'20px'" [fontStyle] = "'arial'">Otra cosa</h1> -->

<h1 id="texto" #texto>Cualquier texto</h1>
<h1 id="texto2" #texto2>Otro texto</h1>